/* tableStyles.css */
.custom-checkbox-header {
    padding-left: 27px !important;
}

.ag-checkbox-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ag-popup-child {
    z-index: 20;
}

.Laws {
    padding-left: 12px;
    padding-right: 5px;
}

.dataset-options {
    text-align: left;
}
  
.form-check {
    margin-bottom: 0.5rem;
}
  
.form-check-label {
    margin-left: 0.5rem;
}
.selected-cell {
    background-color: rgba(255, 0, 0, 0.5) !important; /* Red background for selected cells */
}

.green-cell {
    background-color: rgb(129, 198, 129) !important;
}

.ag-cell {
    padding: 0 !important;
    /* border: 0 !important; */
}

/* CSS */
.ag-header-cell .ag-header-cell-menu-button {
    display: none; /* Hide filter icon by default */
    padding: 0;
}

.ag-header-cell:hover .ag-header-cell-menu-button {
    display: block; /* Show filter icon on hover */
    padding: 0;
}

.ag-header-cell.Hello {
    padding: 0.2%;
}
.ag-theme-alpine .ag-row-selected {
    background-color: transparent !important;
  }
  .ag-theme-alpine {
    flex-grow: 1;
    height: 100%; /* Ensure full height */
    width: 100%;  /* Ensure full width */
    overflow: hidden;
}

.ag-grid-container {
    flex: 1;
    min-width: 0; /* Prevents flex items from overflowing */
  }
  

.no-padding-row {
    height: auto !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-padding-cell {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
    padding: 0 0px;
}

.bold-header {
    font-weight: bold !important;
}

.bold-row {
    font-weight: bold !important;
}

.col {
    transition: margin-left 0.3s;
}
