/* tableStyles.css */
.Checkbox {
    padding-left: 15%;
}

.Laws {
    padding-left: 5%;
    padding-right: 5%;
}

.selected-cell {
    background-color: rgba(255, 0, 0, 0.5) !important; /* Red background for selected cells */
}

.green-cell {
    background-color: rgb(129, 198, 129) !important;
}

.ag-cell {
    padding: 0 !important;
    /* border: 0 !important; */
}

/* CSS */
.ag-header-cell .ag-header-cell-menu-button {
    display: none; /* Hide filter icon by default */
    padding: 0;
}

.ag-header-cell:hover .ag-header-cell-menu-button {
    display: block; /* Show filter icon on hover */
    padding: 0;
}

.ag-header-cell.Hello {
    padding: 0.2%;
}

.no-padding-row {
    height: auto !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-padding-cell {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
    padding: 0 0px;
}

.bold-header {
    font-weight: bold !important;
}

.bold-row {
    font-weight: bold !important;
}